:root {
    --skin-care: #dcaeb5;
    --nail-care: #e4c099;
    --body-care: #ddcd85;
    --hair-care: #bad09f;
    --mind-care: #a7c9db;
    --self-care: #c8756b;
}

body {
    @apply bg-pink-50;
}

:focus-visible, :focus {
    outline: none !important;
    box-shadow: none !important;
}