.fc {
    @apply text-primary font-base;

    .fc-day {
        @apply cursor-pointer;
    }

    .fc-toolbar-title {
        @apply font-bold ml-1;
    }

    .fc-dayGridMonth-view {
        @apply text-pink-600;
    }

    .fc-button-primary {
        @apply bg-primary border-0 p-1 md:p-3;

        &:hover,
        &:not(:disabled):active {
            @apply bg-pink-600 border-0;
        }

        &:disabled {
            @apply bg-pink-200 opacity-100;
        }

        &:not(:disabled).fc-button-active {
            @apply bg-pink-600;
        }
    }

    .fc-daygrid-day.fc-day-today, .fc-timegrid-col.fc-day-today {
        @apply bg-pink-100;
    }

    .fc-daygrid-day.fc-day-today, .fc-timegrid-col.fc-day-today:first-of-type {
        @apply rounded-t-lg;
    }

    .fc-header-toolbar {
        @apply grid grid-cols-[auto,auto] grid-rows-2 gap-4 md:flex md:flex-row md:justify-end;
    
        &>:first-child {
            @apply col-span-2 text-center md:col-span-1 flex w-full;

            >*:first-child {
                @apply mr-auto;
            }
        }
    
        &>:last-child {
            @apply ml-auto md:ml-2;
        }

        &>:not(:last-child):not(:first-child) {
            @apply md:items-end;
        }
    }

    .fc-col-header-cell-cushion {
        .large {
            @apply font-sans text-4xl text-pale-400 tracking-wider uppercase;
        }

        .medium {
            @apply font-sans text-2xl text-pale-400 uppercase;
        }

        .small {
            @apply text-xs mt-1;
        }
    }

    .fc-dayGridMonth-view {
        --fc-border-color: #F0E1D7;   

        .fc-scrollgrid {
            @apply rounded-lg;
        }
        .fc-scrollgrid-section-header > th {
            @apply rounded-t-lg;
        }

        .fc-scrollgrid-section-body > td {
            @apply rounded-b-lg;
        }

        .fc-col-header-cell {
            @apply bg-pink-200;

            &:first-of-type {
                @apply rounded-tl-lg;
            }

            &:last-of-type {
                @apply rounded-tr-lg;
            }
        }
    }

    .fc-timeGridWeek-view, .fc-timeGridDay-view  {
        --fc-border-color: transparent;

        .fc-scrollgrid-sync-table col {
            min-width: fit-content;
            padding-right: 5px;
        }
        .fc-scrollgrid-shrink-cushion {
            @apply whitespace-nowrap;
        }

        .fc-day-today .fc-col-header-cell-cushion {
            .day, .week {
                @apply text-pink-600;
            }
        }

        .fc-cell-shaded {
            @apply bg-pale-200 border-none h-0;
        }

        .fc-timegrid-slot-minor {
            @apply border-t-pale-200;
        }

        .fc-timegrid-slot-lane, .fc-timegrid-divider, .fc-timegrid-slot {
            @apply border-pale-200;
        }
    }
}

.fc-daygrid-dot-event:hover {
    background: transparent;
}

.fc-timegrid-event-harness {
    @apply max-w-[90%];
}

.MuiDateRangeCalendar-root:first-child>:not(.MuiDateRangeCalendar-monthContainer) {
    display: none; //TEMP WHILE I TEST
}